[Unit]
Description=Start Remote LED Python Script on Boot
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/remoteled/python/start.sh
WorkingDirectory=/usr/local/remoteled/python
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=USERNAME_PLACEHOLDER

# Machine Configuration
Environment="MACHINE_ID=MACHINE_ID_PLACEHOLDER"
Environment="API_BASE_URL=http://212.1.213.215:9999"

[Install]
WantedBy=multi-user.target
